@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}
  
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


.goog-te-combo {
 padding: 3px;
}

.goog-te-gadget span {
  display: none; 
}

.goog-te-gadget {
  font-size: 11px;
}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.custom-select option {
  padding: 0.5rem;
}

.custom-select option:checked {
  color: black;
}

  /* ol {
    list-style: decimal;
  } */



/* @media screen and (max-width: 480px) {
  .mobile {
    justify-content: center;
  }
} */

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in {
  animation: fadeIn ease 0.4s;
}
  
.navsmooth {
  transition: all 0.2s ease-in-out;
}

/* .hero {
  background-image: url('./assets/heroImage.jpg');
  object-fit: cover;
  background-position: center;
  height: 80vh;
} */

/* @media (min-height: 700px) and (max-height: 810px) {
  .hero {
    height: 90vh;
  }
} */

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}


/* .cta {
  background-image: url('./assets/cta.jpg');
  background-position: center;
  background-size: cover;
}

@media (min-width: 1060px) {
  .help {
    background-image: url('./assets/helpImg.png');
    background-size: 49vw 100%;
    background-repeat: no-repeat;
    background-position: right top;
  }
}

.footer {
  background-image: url('./assets/footer.jpg');
  object-fit: cover;
}

.heroProducts {
  background-image: url('./assets/productsHeroImage.jpg');
  background-position: center;
  background-size: cover;
} */

@media (min-width: 1024px) {
  .sticky-cart {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 140px;
  }
}

.sticky-filter-main {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 200px;
  overflow-y: auto;
}

.sticky-filter {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 120px;
  z-index: 10;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 15px;
}

@media (max-width: 1024px) {
  .sticky-filter {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 80px;
    z-index: 10;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .sticky-filter {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 80px;
    z-index: 10;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .phone {
    position: sticky;
    bottom: 0;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 16px;
  }
}

@media (max-width: 480px) {
  .phone2 {
    position: sticky;
    top: 0;
    align-self: flex-end;
    right: 0;
  }
}

@media (max-width: 820px) {
  .phone3 {
    position: sticky;
    top: 0;
    align-self: flex-start;
  }
}

@media (max-width: 480px) {
  .phone4 {
    position: sticky;
    bottom: 0;
    background-color: white;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

@media (max-width: 480px) {
  .padphone {
    padding-bottom: 0;
  }
}

.border-search {
  border: 1px solid #B5B5B5;
  outline: none;
}

.square-container {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.square-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.square-container2 {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.square-container2 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.hash-span {
  margin-top: -70px;
  padding-bottom: 70px;
  display: block;
}

.grow {
  transition: all .2s ease-in-out;
}
.grow:hover {
  transform: scale(0.98);
  background-color: #021b2c;
}

.grow2 {
  transition: all .2s ease-in-out;
}
.grow2:hover {
  transform: scale(0.98);
}

.grow3 {
  transition: all .2s ease-in-out;
}
.grow3:hover {
  transform: scale(1.01);
}

.grow4:hover > * {
  transition: transform 0.3s ease-in-out;
}

.grow4:hover > :first-child {
  transform: translateX(-2px);
}

.grow4:hover > :last-child {
  transform: translateX(2px);
}

.menu-slide-enter {
  transform: translateX(100%);
}

.menu-slide-enter-active {
  transform: translateX(0);
  transition: transform 0.4s ease-in-out;
}

.menu-slide-exit {
  transform: translateX(0);
}

.menu-slide-exit-active {
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}